{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<div class="container">
<div class="signup-form-container">
    <form method="POST">
        <h3 class="signup-text">
            Log in
        </h3>
        <div class="">
            <label for="email">Email Address</label>
            <input type="email" class="email-input" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="">
            <label for="password">Password</label>
            <input type="password" class="fname-input" id="password1" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="submit-button">Log in</button>
    </form>
</div>
</div>
{% endblock %}